

NET "SEVSEG_CONTROL[7]" LOC = P61;
NET "SEVSEG_CONTROL[6]" LOC = P60;
NET "SEVSEG_CONTROL[5]" LOC = P57;
NET "SEVSEG_CONTROL[4]" LOC = P59;
NET "SEVSEG_CONTROL[3]" LOC = P56;
NET "SEVSEG_CONTROL[2]" LOC = P52;
NET "SEVSEG_CONTROL[1]" LOC = P49;
NET "SEVSEG_CONTROL[0]" LOC = P50;
NET "SEVSEG_DATA[6]" LOC = P71;
NET "SEVSEG_DATA[5]" LOC = P62;
NET "SEVSEG_DATA[4]" LOC = P65;
NET "SEVSEG_DATA[3]" LOC = P72;
NET "SEVSEG_DATA[2]" LOC = P73;
NET "SEVSEG_DATA[1]" LOC = P98;
NET "SEVSEG_DATA[0]" LOC = P64;



NET "MCLK" LOC = P40;



NET "SET_MODE" LOC = P15;
NET "UP" LOC = P32;
NET "RESET" LOC = P37;
NET "PLUS_ONE" LOC = P36;
NET "SET_SELECT[0]" LOC = P12;
NET "SET_SELECT[1]" LOC = P5;


NET "UP" CLOCK_DEDICATED_ROUTE = FALSE;


# PlanAhead Generated physical constraints 

NET "STOP" LOC = P82;

